<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Moon Phases</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <div>
        <img src="static/img/{{icon}}" width="100" height="100" class="center-img icon">
    </div>
    <div class="center-txt">
        <h2>{{moon}}</h2>
        <p>{{moon_visibility}}</p>
    </div>

    <script>

    </script>
</body>
</html>